body{

background:linear-gradient(
135deg,
#0d6efd,
#6610f2
);

min-height:100vh;

}

.card-custom{

border:none;
border-radius:20px;
background:white;

}

.title{

font-size:32px;
font-weight:bold;
color:#0d6efd;

}

.subtitle{

color:gray;
margin-bottom:30px;

}

#qrcode{

display:flex;
justify-content:center;
margin-top:20px;

}

.footer{

text-align:center;
margin-top:20px;
color:white;
font-size:14px;

}